    @font-face {
      font-family: 'drewbro-icon-regularSVG';
      src: url('../fonts/drewbro-icon-regular.svg#drewbro-icon-regular') format('svg');
    }
  
    @font-face {
      font-family: 'drewbro-icon-regularTTF';
      src: url('../fonts/drewbro-icon-regular.ttf') format('truetype');
    } 
    
    @font-face {
      font-family: 'drewbro-icon-regularEOT';
      src: url('../fonts/drewbro-icon-regular.eot');
    } 